Skip to content
 
Search…
All gists
GitHub
Sign up for a GitHub account Sign in
Create a gist now
Instantly share code, notes, and snippets.
 Star 2  Fork 2 @sharnosharno/.gitignore
Last active 7 months ago
Embed  
<script src="https://gist.github.com/sharno/6658bfbbc0ec6b3b2c8c.js"></script>
  Download ZIP
 Code  Revisions 2  Stars 2  Forks 2
Java servlet/JSP project .gitignore file
Raw
 .gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
nbproject/private/
build/
nbbuild/

# the dist file could make some problems
# dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
Sign up for free to join this conversation on GitHub. Already have an account? Sign in to comment
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About